.button-play{
    -fx-background-color : #015C55;

    -fx-effect: dropshadow(gaussian, rgba(164, 86, 86, 0.15), 6, 0.2, 0, 2);
    -fx-background-radius: 99;
}

.button-nextPause{
    -fx-background-color : #444444;

    -fx-effect: dropshadow(gaussian, rgba(164, 86, 86, 0.15), 6, 0.2, 0, 2);
    -fx-background-radius: 99;
}


.button-updatemusic{
    -fx-background-color : #015C55;
    -fx-text-fill: #ffffff;

    -fx-effect: dropshadow(gaussian, rgba(164, 86, 86, 0.15), 6, 0.2, 0, 2);
}


.button-delete{
    -fx-background-color : #CE2929;
    -fx-text-fill: white;

    -fx-border-radius: 8;    
}

.button-delete:hover{
    -fx-background-color : #b62a2a;
    -fx-text-fill: white;

    -fx-border-radius: 8;    
}

.custom-slider .thumb {
    -fx-background-color: #015C55; /* warna lingkaran */
    -fx-background-radius: 50%;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
}


.image-thumb .thumb {
    -fx-background-color: transparent;
    -fx-background-image: url("/resource/icon1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 16; /* menyesuaikan dengan ukuran gambar */
}


.button-markasdone{


}

.button-markasdone:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-background-color: transparent;
}

.button-markasdone:pressed {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-effect: none;
}

.button-add {
    -fx-background-color: #015C55; /* warna dasar */
    -fx-text-fill: white;
    -fx-cursor: hand; /* membuat kursor tangan saat hover */
    -fx-font-size: 10px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-padding: 6 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0.5, 0, 1);
    -fx-transition: all 0.3s ease;
}

.button-add:hover {
    -fx-background-color: #024a44; /* warna saat hover */
    -fx-scale-x: 1.05; /* efek zoom */
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.5, 0, 2);
}

