/* Umum */
.root {
    -fx-font-family: "Segoe UI", sans-serif;
}

.text-field, .password-field {
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-padding: 10 12;
}

/* .button {
    -fx-background-color: #6F826A;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: #4E5C4A;
    -fx-text-fill: #FFF0DC;
} */

#btnRegister {
    -fx-font-size: 12px;
    -fx-underline: true;
}

/* Sidebar Style */
.sidebar-item {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    /* -fx-padding: 5 10; */
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.sidebar-text {
    -fx-fill: #000000;
}

/* Hover state (teks) */
.sidebar-item:hover .sidebar-text {
    -fx-fill: #015C55;
}

/* Active state (teks + background) */
.sidebar-item.active {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
    -fx-max-width: 240px;
    /* -fx-translate-x: 12px; Geser ke kanan  */

        -fx-background-insets: 0 0 0 12; /* top right bottom left */
}

.sidebar-item.active .sidebar-text {
    -fx-fill: #015C55;
}

/* Tambahan jika ingin animasi/efek lebih */
.sidebar-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 10;
}


.rightbar-button{
    -fx-background-color: #015C55;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 24;
    -fx-cursor: hand;
}

.rightbar-button:hover{
    -fx-background-color : #037B72;
}



/* style for setting zenloop */

.button-logout{
    -fx-background-color : white;
    -fx-text-fill: #E76B6B;
    -fx-border-color: rgba(0, 0, 0, 0.356);
    -fx-border-radius: 8;    
}

.button-logout:hover{
    -fx-background-color : rgb(241, 241, 241);
}


.button-edit{
    -fx-background-color : white;
    -fx-text-fill: #444444;
    -fx-border-color: rgba(0, 0, 0, 0.356);
    -fx-border-radius: 8;    
}

.button-edit:hover{
    -fx-background-color : rgb(241, 241, 241);
}


.button-saveChange{
    -fx-background-color : #1A202C;
    -fx-text-fill: #ffffff;
    -fx-border-color: rgba(0, 0, 0, 0.356);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
    -fx-border-radius: 8;    
}

.button-saveChange:hover{
    -fx-background-color : #262c38;
    -fx-text-fill: #ffffff;
    -fx-border-color: rgba(0, 0, 0, 0.356);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
    -fx-border-radius: 8;    
}

.button-cancel{
    -fx-background-color : white;
    -fx-text-fill: #868686;
    -fx-border-color: rgba(117, 117, 117, 0.356);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
    -fx-border-radius: 8;    
}

.button-edit:hover{
    -fx-background-color : rgb(241, 241, 241);
}


/* mendekorasi tabel */

/* Mengubah warna batang pada BarChart */
.chart-bar {
    -fx-bar-fill: #2B2B2B; /* Ganti dengan warna yang diinginkan */
}


